.notification-button {
	display: flex;
	width: 36px;
	height: 36px;
	padding: 8px;
	justify-content: center;
	align-items: center;

	border-radius: 99px;
	// using theme vars for border and bg
	border: 1px solid var(--border-color);
	background: var(--hover-bg);
	backdrop-filter: blur(1px);
	// make svg icon adapt to theme
	color: var(--text-color);

	svg {
		path {
			fill: currentColor;
		}
	}

	.badge {
		border-radius: 100px;
		position: absolute;
		left: 18px;
		top: 5px;
		width: 8px;
		height: 8px;
		background-color: #fe303b;
		border: 1px solid #fff;
	}
}
